
{% include 'header.twig' %}
  
    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Chuyển đổi</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
    <!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/img1.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">Chuyển đổi</span> tiền tệ</h2>    
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Các chuyên gia tin rằng việc giảm số lượng của khối Bitcoin được tìm thấy xuống 2 lần sẽ góp phần vào sự tăng trưởng của giá Bitcoin. Sự tăng giá của Bitcoin sẽ được theo sau bởi sự tăng trưởng của các loại tiền điện tử khác. Điều này sẽ làm tăng sự phổ biến của tiền điện tử và góp phần vào sự phát triển hơn nữa của công nghệ blockchain</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
{% include 'footer.twig' %}