 <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
		
		   <div class="row">
		   
		      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
			     <div class="footer_blog">
				    <div class="full margin-bottom_30">
					   <img src="images/footer_logo.png" alt="#" />
					 </div>
					 <div class="full white_fonts">
					    <p>Phương châm của chúng tôi là sự đơn giản. Chúng tôi làm việc hết mình để đem lại trải nghiệm sử dụng đơn giản nhất, kể cả với những tính năng phức tạp như thuật toán giao dịch. </p>
					 </div>
				 </div>
			  </div>
			  
			  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
			       <div class="footer_blog footer_menu white_fonts">
						    <h3>Đường dẫn nhanh</h3>
						    <ul> 
							  <li><a href="/about">> Giới thiệu</a></li>
							  <li><a href="/exchange">> Thị trường</a></li>
							  <li><a href="/services">> Dịch vụ</a></li>
							  <li><a href="/news">> Tin tức</a></li>							</ul>
						 </div>
				 </div>
				 
				 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
				 <div class="footer_blog full white_fonts">
						     <h3>Nhận thông tin</h3>
							 <p>Chúng tôi sẽ gửi tin tức mới nhất về email cho bạn,</p>
							 <div class="newsletter_form">
							    <form action="index.html">
								   <input type="email" placeholder="Điền Email" name="#" required />
								   <button>Đăng ký</button>
								</form>
							 </div>
						 </div>
					</div>	 
			  
			  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
				 <div class="footer_blog full white_fonts">
						     <h3>Liên hệ</h3>
							 <ul class="full">
							   <li><img src="images/i5.png"><span>KP6, P.Linh Trung<br>Q.Thủ Đức, TP.HCM</span></li>
							   <li><img src="images/i6.png"><span>exchange@gmail.com</span></li>
							   <li><img src="images/i7.png"><span>037.7026.186</span></li>
							 </ul>
						 </div>
					</div>	 
			  
		   </div>
		
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2019 design by Thach Le</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>
    {% include 'script.twig' %}