
{% include 'header.twig' %}

   
    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url(images/slide_img.png);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                        <h3>Thành công với tiền tệ<br><strong>Bitcoin</strong></h3>
                                        <br>
                                        <a class="start_exchange_bt" href="/about">Xem thêm ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url(images/slide_img.png);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                          <h3>Thành công với tiền tệ<br><strong>Bitcoin</strong></h3>
                                        <br>
                                        <a class="start_exchange_bt" href="/about">Xem thêm ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
    <!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/img1.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">Welcome</span> tiền ảo Bitcoin</h2>    
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Bitcoin là một loại tiền ảo được phát hành năm 2009 dưới dạng whitepaper có tựa là “Bitcoin: A Peer-to-Peer Electronic Cash System” bởi một người bí ẩn sử dụng bút danh Satoshi Nakamoto. Giao dịch được thực hiện mà không cần thông qua trung gian. Do đó không cần có lệ phí giao dịch và cũng không cần phải cung cấp tên thật.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="/about">Xem thêm ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Dịch vụ</h2>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                       <img class="img-responsive" src="images/s1.png" alt="#" />
                       <h4>An toàn & bảo mật</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="images/s2.png" alt="#" />
                        <h4>Ứng dụng di động</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="images/s3.png" alt="#" />
                        <h4>Ví tiền</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="images/s4.png" alt="#" />
                        <h4>Chuyên gia hỗ trợ</h4>
                    </div>
                </div>
            </div>
            <div class="row margin-top_30">
                <div class="col-sm-12">
                    <div class="full">
                        <div class="center">
                            <a class="main_bt" href="/services">Xem thêm ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section white_fonts" style="background: #2a2a2a;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="background: #fff;">
                    <div class="full text_align_right_img">
                        <img src="images/img2.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2><span class="theme_color">Bắt đầu</span> chuyển đổi</h2>    
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Để gửi đi một giao dịch Bitcoin bạn cần 2 thứ: Một địa chỉ Bitcoin (Bitcoin Address) và một khóa riêng (thường gọi là Private Key - như một khóa số bí mật). Một địa chỉ Bitcoin được tạo ra một cách ngẫu nhiên, chỉ đơn giản là một chuỗi các chữ cái và con số. Các khóa riêng là một chuỗi các chữ cái và con số nhưng không giống như địa chỉ Bitcoin của bạn và được giữ bí mật.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="/about">Chuyển đổi ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                           <h2>Về chúng tôi</h2>    
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Sứ mệnh của chúng tôi là xuất bản những thông tin có chất lượng cao nhất về hệ sinh thái tiền tệ kỹ thuật số. Chúng tôi trình bày những bước tiến mới nhất trong cuộc cách mạng công nghiệp 4.0 nhằm đánh thức tiềm năng của tiền tệ kỹ thuật số. Bằng cách xây dựng nền móng khái niệm cơ bản về Bitcoin, về cách tạo ra nó, về trao đổi nó với đồng tiền pháp định. Xa hơn chúng tôi đi đến những loại tiền tệ khác như Ethereum, Dash, Monero, Zcash… Cuối cùng điều chúng tôi muốn hướng đến là chính là công nghệ Blockchain và những ứng dụng. Đội ngũ thành viên của Bitcoin Vietnam News hợp nhất tất cả những điều trên vào một chuyên trang mạng xã hội này.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="/about">Xem thêm ></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/img3.png" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding padding_top_0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Tin tức</h2>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                   <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                       <img class="img-responsive" src="images/b1.png" alt="#" />
                       <div class="overlay"><a class="main_bt transparent" href="/dump-bitcoin-can-nhieu-tien">Xem</a></div>
                       <div class="blog_details">
                         <h3>Để dump Bitcoin thì cần bao nhiêu tiền?</h3>

                       </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="images/b2.png" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="/dump-bitcoin-can-nhieu-tien">Xem</a></div>
                       <div class="blog_details">
                         <h3>IEO là gì? Kiến thức khi đầu tư IEO mới nhất</h3>
                         
                       </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="images/b3.png" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="/dump-bitcoin-can-nhieu-tien">Xem</a></div>
                       <div class="blog_details">
                         <h3>Thông tin về tiền ảo Bitcoin mới nhất</h3>
                        
                       </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding padding_top_0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Liên hệ</h2>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- contact_form -->
    <div class="section contact_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="full">
                        <form class="contact_form_inner" action="#">
                            <fieldset>
                                <div class="field">
                                    <input type="text" name="name" placeholder="Your name" />
                                </div>
                                <div class="field">
                                    <input type="email" name="email" placeholder="Email" />
                                </div>
                                <div class="field">
                                    <input type="text" name="phone_no" placeholder="Phone number" />
                                </div>
                                <div class="field">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <div class="field center">
                                    <button>GỬI</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact_form -->
    <!-- end section -->
	<!-- end section -->
    {% include 'footer.twig' %}
