
{% include 'header.twig' %}
  
   
    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Tin tức</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
   <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Tin tức</h2>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                       <img class="img-responsive" src="images/b1.png" alt="#" />
                       <div class="overlay"><a class="main_bt transparent" href="/dump-bitcoin-can-nhieu-tien">Xem</a></div>
                       <div class="blog_details">
                         <h3>Để dump Bitcoin thì cần bao nhiêu tiền?</h3>

                       </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="images/b2.png" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="/dump-bitcoin-can-nhieu-tien">Xem</a></div>
                       <div class="blog_details">
                         <h3>IEO là gì? Kiến thức khi đầu tư IEO mới nhất</h3>
                         
                       </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="images/b3.png" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="/dump-bitcoin-can-nhieu-tien">Xem</a></div>
                       <div class="blog_details">
                         <h3>Thông tin về tiền ảo Bitcoin mới nhất</h3>
                        
                       </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                       <img class="img-responsive" src="images/b1.png" alt="#" />
                       <div class="overlay"><a class="main_bt transparent" href="/dump-bitcoin-can-nhieu-tien">Xem</a></div>
                       <div class="blog_details">
                         <h3>Cẩm nang đầu tư Bitcoin mới nhất</h3>
                       
                       </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="images/b2.png" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="/dump-bitcoin-can-nhieu-tien">Xem</a></div>
                       <div class="blog_details">
                      <h3>Phân tích chuyên sâu về hợp đồng siêu việt của BKEX</h3>
                       
                       </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full news_blog">
                        <img class="img-responsive" src="images/b3.png" alt="#" />
                        <div class="overlay"><a class="main_bt transparent" href="/dump-bitcoin-can-nhieu-tien">Xem</a></div>
                       <div class="blog_details">
                         <h3>Cách kiểm tra giao dịch trên Blockchain, xử lý lỗi Pending</h3>
                     
                       </div>
                    </div>
                </div>
                
        </div>
    </div>
    <!-- end section -->
{% include 'footer.twig' %}