
{% include 'header.twig' %}
  
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Chi tiết bài viết</h3>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <div class="section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Để dump Bitcoin thì cần bao nhiêu tiền?</h2>    
                        </div>
                    </div>
                </div>
                <div class="col-md-12 khung-new">
                    <div>Đồng BTC là gì? Giới thiệu về đồng BTC ?</div>
                    <p>
                        Bitcoin hay BTC là đồng tiền điện tử đầu tiên trên thế giới và đặt nền 
                        móng cho phát triển của thị trường Cryptocurrency.<br>

                        Bitcoin sử dụng giao thức ngang hàng (peer-to-peer) cho tất cả các giao
                         dịch. Và, chính điều đó đã làm cho Bitcoin loại bỏ bước trung gian 
                         trong quá trình thực hiện giao dịch.<br>

                        Điều này có nghĩa là giao dịch sẽ được thực hiện trực tiếp từ người gửi 
                        đến người nhận với phí giao dịch cực kỳ thấp (gần như bằng 0) mà không
                         phải qua bất cứ tổ chức hay cá nhân trung gian nào.<br>
                    </p>
                    <div class="infobox">
                        <ul>
                            <li><strong>Ra mắt thị trường</strong>: Năm 2009</li>
                            <li><strong>Giá trị cao nhất trong lịch sử (ATH)</strong>: $19.892</li>
                            <li><strong>Giá trị cao năm 2019</strong>: $13.793</li>
                            <li><strong>Giá trị thấp năm 2019</strong>: $3.459</li>
                        </ul>    
                    </div>
                    <p>
                        Bitcoin cũng giống những đồng tiền truyền thống khác là có đơn vị Bitcoin.
                        Đơn vị nhỏ nhất của Bitcoin được đặt theo tên gọi của nhà sáng lập chính
                         là Satoshi. Với tỷ lệ 1 Bitcoin bằng 100,000,000 Satoshi.<br>
                    </p>
                    <p>
                        Hình thức đầu tiên giúp anh em kiếm tiền từ Bitcoin đó là Đào Bitcoin 
                        (Bitcoin Mining). <br>

                        Để các giao dịch trong mạng lưới của Bitcoin hoạt động trơn tru cần
                         phải được xác nhận bởi những người gọi là các miner - thợ mỏ. <br>
                        <p>
                        Việc khai thác hay đào Bitcoin cần những máy có cấu hình khủng và 
                        người ta cũng đã phát triển được máy đào Bitcoin chuyên dụng gọi là ASIC.<br>

                        Khi anh em đào Bitcoin thì một việc quan tâm đầu tiên là cách thức 
                        Bitcoin hoạt động, cũng như chi phí của Công nghệ Blockchain như thế nào? 
                        <div>
                          <img class="img-responsive text-center" style="margin:auto; width:80%" src="images/image-news.jpg" alt="Thế giới tiền ảo Bitcoin" />
                        </div>
                      </p>
                        <p>Thuật đoán đồng thuận sẽ cho anh em biết rõ điều đó!<br>

                        Các thuật toán đồng thuận được thiết kế để đảm bảo rằng các giao dịch là 
                        hợp lệ và được phân phối trên nhiều người tham gia để xác minh tính chính 
                        xác và tạo nên khả năng bồi hoàn cho các giao dịch.<br></p>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% include 'footer.twig' %}